$color-primary: hsl(0, 0%, 98%);
$color-primary--dark: hsl(234, 12%, 34%);
$color-primary--light: hsl(229, 6%, 66%);
$color-red: hsl(0, 78%, 62%);
$color-blue: hsl(212, 86%, 64%);
$color-orange: hsl(34, 97%, 64%);
$color-cyan: hsl(180, 62%, 55%);
$color-white: hsl(0, 0%, 100%);

$font-primary: 'Poppins', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: $color-primary--dark;
  background-color: $color-primary;
  font-size: 1.6rem;
  font-family: $font-primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
