// - Red: hsl(0, 78%, 62%)
// - Cyan: hsl(180, 62%, 55%)
// - Orange: hsl(34, 97%, 64%)
// - Blue: hsl(212, 86%, 64%)
// - Very Dark Blue: hsl(234, 12%, 34%)
// - Grayish Blue: hsl(229, 6%, 66%)
// - Very Light Gray: hsl(0, 0%, 98%)

// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
// - Weights: 200, 400, 600

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
}
