.content {
  width: 100%;

  &__heading-primary {
    text-align: center;
    font-weight: 200;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    display: block;

    @media (min-width: 768px) {
      font-size: 3.6rem;
      line-height: 5.3rem;
    }

    &--highlighted {
      font-weight: 600;
    }
  }

  &__paragraph {
    margin: 0 auto;
    color: $color-primary--light;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;

    @media (min-width: 768px) {
      max-width: 500px;
    }
  }

  &__grid-container {
    margin-top: 6rem;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 32rem;
    grid-gap: 2.5rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 32rem);
    }

    @media (min-width: 1140px) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 36.8rem);
      grid-gap: 3rem 1.2rem;
    }
  }

  &__box {
    width: 95%;
    background-color: $color-white;
    border-radius: 0.7rem;
    padding: 2.5rem 3rem 2.5rem 3rem;
    box-shadow: rgba($color-blue, 0.11) 0px 20px 25px -10px,
      rgba($color-primary--dark, 0.09) 0px 20px 15px -5px;
    position: relative;
    overflow: hidden;
    transform: translateY(-0.5rem);
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.4rem;
    }

    @media (min-width: 1140px) {
      padding: 3rem;

      &:hover {
        cursor: pointer;
        border-radius: 1px;
        transform: translateY(0.5rem);
      }
    }

    &--cyan {
      &::before {
        background-color: $color-cyan;
      }

      @media (min-width: 1140px) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        &:hover {
          box-shadow: rgba($color-cyan, 1) 0px 2px 0px 5px,
            rgba($color-cyan, 0.65) 0px 4px 6px 6px,
            rgba($color-cyan, 0.08) 0px 1px 6px;
        }
      }
    }

    &--red {
      &::before {
        background-color: $color-red;
      }

      @media (min-width: 1140px) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        &:hover {
          box-shadow: rgba($color-red, 1) 0px 2px 0px 5px,
            rgba($color-red, 0.65) 0px 4px 6px 6px,
            rgba($color-red, 0.08) 0px 1px 6px;
        }
      }
    }

    &--orange {
      &::before {
        background-color: $color-orange;
      }

      @media (min-width: 1140px) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        &:hover {
          box-shadow: rgba($color-orange, 1) 0px 2px 0px 5px,
            rgba($color-orange, 0.65) 0px 4px 6px 6px,
            rgba($color-orange, 0.08) 0px 1px 6px;
        }
      }
    }

    &--blue {
      &::before {
        background-color: $color-blue;
      }

      @media (min-width: 1140px) {
        grid-column: 3 / 3;
        grid-row: 1 / 3;

        &:hover {
          box-shadow: rgba($color-blue, 1) 0px 2px 0px 5px,
            rgba($color-blue, 0.65) 0px 4px 6px 6px,
            rgba($color-blue, 0.08) 0px 1px 6px;
        }
      }
    }
  }

  &__heading-secondary {
    font-size: 2rem;
  }

  &__text {
    max-width: 320px;
    color: $color-primary--light;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
      max-width: 275px;
      font-size: 1.3rem;
      margin-top: 0.5rem;
    }
  }

  &__img {
    width: 5.8rem;
    padding-top: 1rem;
    align-self: flex-end;

    @media (min-width: 768px) {
      width: 6.5rem;
      padding-top: 1.7rem;
    }
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0;

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    color: $color-primary--light;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary--dark;
  }
}
